
<% devices.forEach(function(device) { %>
  <div class="row charts">
    <h1>
      <%= device.name %> <a href="/bean-counter/<%= device.id %>">(see more)</a>
    </h1>
    <div class="col-lg-4">
      <h2>Industrial Sensor Inventory (lbs)</h2>
      <canvas class="col-lg-4 canvas blue" id="weight-device-<%= device.id %>"></canvas>
    </div>
    <div class="col-lg-4">
      <h2>Storage Tempature (F)</h2>
      <canvas class="col-lg-4 canvas green" id="temp-device-<%= device.id %>"></canvas>
    </div>
    <div class="col-lg-4">
      <h2>Storage Humidity (%)</h2>
      <canvas class="col-lg-4 canvas orange" id="humidity-device-<%= device.id %>"></canvas>
    </div>
  </div>
<% }); %>